ACCOUNT_PRIVATE_KEY= "Private key of your account"
MONGODB_URI = "uri for the mongodb database"
POSTMARK_API_KEY = "API key for postmark"
JWT_PRIVATE_KEY = "Random string"
ALCHEMY_KEY = "Alchemy api key"
TOKEN_ADDRESS = "address of the deployed token"